[user]
    name = Tony Ganch
    email = tonyganch@gmail.com

[branch "master"]
    rebase = true
    remote = origin
    merge = master

[branch]
    autosetuprebase = always

[core]
    excludesfile = ~/.gitignore
    autocrlf = false
    eol = native

[push]
    default = simple

[diff]
    tool = Kaleidoscope

[difftool]
    prompt = false

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = Kaleidoscope

[mergetool]
    prompt = false

[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustexitcode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
